
.blog-cta-btn .primary-button { font-size: 0.75rem !important; }
.blog-cta-btn .button-secondary { font-size: 0.75rem !important; }
.blog-cta-content .blog-cta-p { margin-bottom: 0rem !important; }
.blog-cta-dynamic { margin-top: -24px !important; margin-bottom: -24px !important; }
.blog-cta-dynamic .heading-style-h5 { font-size: 1.25rem !important; }
