

.blog-cta-btn .primary-button {
	font-size: 0.75rem !important;
}
.blog-cta-btn .button-secondary {
	font-size: 0.75rem !important;
}
.blog-cta-content .blog-cta-p {
	margin-bottom: 0rem !important

}
